/* css tampilan */
* {
    margin: 0;
    padding: 0;
}

body {
    /* background: rgb(10, 10, 65); */
    background: linear-gradient(90deg, rgb(9, 9, 102) 0%, rgb(9, 9, 70) 39%, rgb(3, 3, 12) 100%);
}

/* .wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
} */

.container {
    color: #fff;
    background-color: #ffffff10;
    box-shadow: 2px 2px 10px #00000050, inset 2px 2px 10px #00000050;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    top: 200px;
    width: 80%;
    margin: auto;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 20px auto;
}

.prom {
    margin: 5px;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
}